:root {
    --background-color: #234C6A;
    --primary-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color)

}

.title {
    display: flex;
    justify-content: center;
    margin: 30px auto 50px;

    font: bold 43px "Montserrat", sans-serif;
}

.task {

    margin: 10px 15px;
    font: 15px "Montserrat", sans-serif;
    padding: 10px;
    width: 1000px;

    border: #000000 solid;
    border-radius: 10px;
}