div {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s;
}

#div1 {transition-timing-function: linear;}
#div2 {transition-timing-function: ease;}
#div3 {transition-timing-function: ease-in;}
#div4 {transition-timing-function: ease-out;}
#div5 {transition-timing-function: ease-in-out;}

div:hover {
    width: 300px;
}

button {
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

button:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}

div#animation{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
    
@keyframes myAnimation {
    0% {background-color:rgb(0, 0, 0); left:0px; top:0px;}
    25% {background-color:yellow; left:200px; top:0px;}
    50% {background-color:blue; left:200px; top:200px;}
    75% {background-color:green; left:0px; top:200px;}
    100% {background-color:rgb(71, 104, 18); left:0px; top:0px;}
}