* {
    box-sizing: border-box;
    background-color: rgb(6, 3, 51);
}
.container {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: 1fr;
    gap: 3px;

    padding: 0px;
    color: white;
}

input {
    background-color: white
}

.container > header, nav, main, footer {
    /* background-color: white; */
    padding: 10px;
}

.container > header {
    grid-area: header;
    text-align: center;
}

.container > header img{
    width: 200px;
}

#topo {
    color: rgb(31, 110, 0);
    font-size: 58px;
}

span#pulga{
    color: green;
    position: absolute;
    animation: myAnimation 3s 2s infinite;
}

@keyframes myAnimation {
    0%   { transform: translate(0, 0);}
    20%  { transform: translatey(-50px); color: black;}
    40% { transform: translate(0,0);}
    100% { transform: translate(0,0);}
}

.container > nav {
    display: flex;
    justify-content: center;
    font-size: 24px;
    gap: 20px;
}

.container > nav a{
    margin: 0 100px;
    color: green;
    transition: font-size 1.4s;
}

.container > nav a:hover{
    font-size: 40px;
}

.container > main {
    padding: 20px;
    margin: 5px;
}

.container > footer {
    padding: 20px;
    text-align: center;
}

.container > footer p{
    text-align: end;
}

.container > footer a{
    display: inline-flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    color: white;
    transition: transform 1s ease-out;
}

.container > footer a:hover{
    transform: scale(1.1);
}
