.container{
    display: grid;
    justify-items: center;
}

.container button{
    background-color: rgb(184, 41, 41);
    transition: background-color 1s ease-out, 
    trasform 1s ease-out, 
    box-shadow 1s ease-out;
}

.container button:hover{
    background-color: rgb(15, 13, 145);
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
