* {
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: 1fr;
    gap: 3px;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

.container > header, nav, main, footer {
    background-color: white;
    padding: 10px;
}

.container > header {
    grid-area: header;
    text-align: center;
}

.container > header img{
    width: 200px;
}

#topo {
    color: rgb(31, 110, 0);
    font-size: 58px;
}

.container > nav {
    display: flex;
    justify-content: center;
    font-size: 24px;
    gap: 20px;
}

.container > nav a{
    margin: 0 100px;
    color: green;
    transition: font-size 1.4s;
}

.container > nav a:hover{
    font-size: 40px;
}

.container > main {
    padding: 20px;
    margin: 5px;
}

.container > footer {
    padding: 20px;
    text-align: center;
}

.container > footer p{
    text-align: end;
}

.container > footer a{
    display: inline-flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: transform 1s ease-out;
}

.container > footer a:hover{
    transform: scale(1.1);
}










/* * {
    box-sizing: border-box;
}

header, nav {
    text-align: center;
}

nav {
    margin: 50px;
}

#imgp {
    width: 300px;
}

h1 {
    color: rgb(31, 110, 0);
    font-size: 58px;
    text-align: center;
}

h2 {
    color: red;
}

h4 {
    color: rgb(151, 1, 14);
}

.navegacao {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navegacao a {
    margin: 1px;
    padding: 10px;
    font-size: 24px;
}

.formulario {
    display: flex;
    border: 8px solid black;
    margin: 2px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    justify-content: flex-start;
    align-content: flex-start;
} */
