$minhaFonte: Helvetica, sans-serif;
$minhaCor: red;
$meuTamanhoDeFonte: 18px;
$meuTamanho: 680px;

body {
    font-family: $minhaFonte;
    font-size: $meuTamanhoDeFonte;
    color: $minhaCor;
}

#container {
    width: $meuTamanho;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
} 