.container{
    display: grid;
    place-items: center;
    text-align: center;
}

.container > .card{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;

    animation: entrada 0.8s ease-out forwards;

    overflow: hidden;
    position: relative;
}

@keyframes entrada{
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container > .card img {
    width: 300px;
    transition: transform 0.3s ease-out;
}

.container > .card:hover img{
    transform: scale(1.1);

}

.container > .card button{
    transform: translateY(50px);
    opacity: 0;

    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.container > .card:hover button{
    transform: translateY(0);
    opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
    .container > .card{
        animation: none;
        transform: none;
        opacity: 1;
    }

    .container > .card img{
        transition: none;
        transform: scale(1);
    }

     .container > .card:hover img{
        transform: scale(1);
    }

    .container > .card button{
        transition: none;
        transform: none;
        opacity: 1;
    }

    .container > .card:hover button{
    background-color: red;
    opacity: 1;
}
    
}