* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 350px;
  border: 4px solid #4fb3a2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  background-color: #f26b5e;
}

/* Topo */
.topo {
  height: 50px;
}

/* Meio */
.meio {
  border: 4px solid #4fb3a2;
  display: flex;
}

.esquerda {
  flex: 1.5;
  height: 200px;
  padding: 10px;
}
.box-esquerdo {
    height: 180px;
    padding: 1px;
    background-color: #f26b5e;
}
.direita {
  padding: 4px;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-left: 4px solid #4fb3a2;
  padding-left: 10px;
}

.pequeno {
  flex: 1;
  background-color: #f26b5e;
}

/* Base */
.base-grande {
  height: 60px;
}

.base-pequena {
  height: 30px;
}
