@mixin important-text {
    color: red;
    font: {
        size: 25px;
        weight: bold;
    }
    border: 1px solid blue;
}

.danger {
    @include important-text;
    background-color: green;
}