.container {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: 1fr;
    gap: 3px;
    padding: 5px;
}

.container > header, nav, main {
    text-align: center;
    padding: 10px;
}

.container > footer {
    text-align: end;
    padding: 10px;
    background-color: antiquewhite;
}

.container > footer button{
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
}

.container > footer button:hover {
    background-color: #000000;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }