* {
    box-sizing: border-box;
}

#imgp {
    margin: auto;
}

h1 {
    color: rgb(31, 110, 0);
    font-size: 58px;
    text-align: center;
}

h2 {
    color: red;
}

h4 {
    color: rgb(151, 1, 14);
}